# Set default behavior to automatically normalize line endings

* text=auto

# Specify end of line normalization for text files

*.py text eol=lf
*.txt text eol=lf

# Mark files as binary to avoid Git trying to merge them

*.jpg binary
*.png binary
*.gif binary
*.pdf binary

# For any Jupyter notebooks

*.ipynb text
