# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.venv/
*.env

# IDE files (e.g., VSCode, PyCharm)
.vscode/
.idea/

# Jupyter Notebooks
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest
.cache/

# Conda environment
conda-env/

# Other IDE or editor specific folders
*.swp
